/*
Custom css
Developer: SIR VANLEOR BOQUIREN - OPTIMIND SOLUTIONS
*/

/* MAPS */
.map-audit 
{
	width: 100%;
	height: 500px;
	background-color: grey;
}
.map-store 
{
	width: 90%;
	height: 400px;
	margin: auto;
	background-color: grey;
}

/* OTHERS */

/* <span> */
span.required
{
	color:red;
}